In [1]:
import pandas as pd
import numpy as np

In [2]:
file_to_load = "Resources/election_results.csv"

In [3]:
election_data = pd.read_csv(file_to_load)
election_data

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [4]:
election_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369711 entries, 0 to 369710
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Ballot ID  369711 non-null  int64
 1   County     369711 non-null  object
 2   Candidate  369711 non-null  object
dtypes: int64(1), object(2)
memory usage: 8.5+ MB

In [5]:
election_data.isnull().sum()

Ballot ID    0
County       0
Candidate    0
dtype: int64

In [6]:
# Initialize a total vote counter
total_votes = 0

In [7]:
# Candidate Options and candidate votes.
candidate_options = []
candidate_votes = {}

In [8]:
# 1: Create a county list and county votes dictionary.
counties = []
county_votes = {}

In [9]:
# Track the winning candidate, vote count and percentage
winning_candidate = ""
winning_count = 0
winning_percentage = 0

In [10]:
# 2: Track the largest county and county voter turnout.
largest_county = ""
county_voter = 0

In [12]:
# Determine total votes
total_votes = election_data["Ballot ID"].count()
print (total_votes)

369711

In [16]:
# Determine county votes
election_data["County"].unique()

array(['Jefferson', 'Denver', 'Arapahoe'], dtype=object)

In [22]:
County_votes_df = election_data.set_index(["County", "Ballot ID"]).count(level="County")
County_votes_df

<ipython-input-22-22915dffe750>:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.count(level=1) should use df.groupby(level=1).count().
  County_votes_df = election_data.set_index(["County", "Ballot ID"]).count(level="County")

           Candidate
County
Arapahoe       24801
Denver        306055
Jefferson      38855

In [25]:
County_votes_df['% of Votes'] = (County_votes_df.Candidate / County_votes_df.Candidate.sum()) *100
County_votes_df

           Candidate  % of Votes
County
Arapahoe       24801    6.708213
Denver        306055   82.782227
Jefferson      38855   10.509560

In [ ]:
election_data["Candidate"].unique()